/* Flowchart diagramType in mermaid use polygon where as ClassDiagram uses rect */
g polygon,
g rect {
  transition: outline 10.1s ease-in-out;
}

g.highlighted polygon,
g.highlighted rect {
  outline: 4px solid #9370db;
  outline-offset: -2px;
}
