#github-modal {
  height: 50%;
  width: 70ch;
  padding: 2rem;
}

.github-list {
  list-style-type: none;
  padding: 0;
  border: 1px solid var(--border-color);
  line-height: 1.8rem;
  cursor: pointer;
  min-height: 100px;
  margin: 0;
  overflow: auto;
}

#github-modal-content {
  align-items: center;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto auto;
  height: 100%;
  gap: 1rem;
  padding: 2rem 1rem 0 1rem;
  overflow: hidden;
}

#modal-wrapper {
  align-items: center;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  height: 100%;
  gap: 1rem;
  padding: 2rem 1rem 0 1rem;
}

a.authorise-link {
  color: var(--active-button-color);
}

a.authorise-link:hover {
  text-decoration: underline;
}

#public-github-input-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
}

#public-github-input {
  font-size: 0.9rem;
  transition: none;
}

#public-github-input-wrapper img {
  width: 20px; /* Adjust as needed */
  height: 20px;
  margin-left: 8px; /* Space between input and image */
  align-self: center;
}

.github-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.github-list li:nth-child(odd) {
  background: var(--background-color);
}

#github-modal-title-wrapper {
  display: flex;
  justify-content: space-between;
}

#github-list-wrapper {
  display: grid;
  height: 100%;
  overflow: auto;
}

#select-folder {
  background-color: var(--disabled-button-color);
  padding: 0.25rem 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  filter: opacity(0.5);
  cursor: not-allowed;
  justify-self: center;
}

#select-folder:enabled:hover {
  background-color: hsl(from var(--active-button-color) h s 40%);
  transition: background-color 0.3s;
}

#select-folder:enabled {
  color: white;
  background-color: var(--active-button-color);
  filter: none;
  cursor: pointer;
}
