/* styling for top level elements that appear on all pages */

@import url('/public/styles/reset.css'); /* generics/defaults */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  font-family: 'Nunito Sans', system-ui, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

button.highlighted {
  outline: 4px solid #9370db;
  outline-offset: -2px;
}

#counter {
  position: relative;
}

#counter.htmx-request > span {
  opacity: 0;
}

.spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

#content-main {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 400px;
  height: 100vh;
  width: 100%;
}

#search-panel {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 200;
}

#search-panel > h2 {
  padding-inline: 20px;
  font-weight: 200;
}

#search-panel > input[type=search] {
  background-color: #f5f6fa;
  background-image: url('/public/images/magnifying-glass.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 20px;
  padding-left: 60px;
  width: 60ch;
  margin-right: 20px;
}
#search-panel > select, input[type=search] {
  border-color: #e3e3e4;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1em;
  padding-block: 10px;
  padding-inline: 2px;
}

#search-panel > select{
  margin-inline: 10px;
  font-weight: 200;
}

#mermaid-wrapper {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mermaid-svg {
  height: 100%;
  width: 100%;
}

#mermaid-output {
  height: 100%;
  width: 100%;
  display: block;
  opacity: 1;
}

#mermaid-output.htmx-request{
  display: none;
}

#navigation-panel {
  background-color: #F5F6FA;
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  border: 1px solid #e8e8e8;
  border-bottom: 0;
}

#navigation-panel h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

#navigation-panel section {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
  word-wrap: break-word;
}

#navigation-panel section:last-child {
  border-bottom: none;
}

#navigation-panel p {
  font-size: 0.9rem;
  margin: 0;
}

#navigation-panel pre {
  white-space: pre-wrap;
  background: white;
  font-size: 0.6rem;
}

#svg-controls {
  display: grid;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#svg-controls button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 0.7rem;
}

#spinner.htmx-request{
  display: inline-block;
  opacity: 1;
}

#spinner {
  display: none;
  width: 80px;
  height: 80px;
  border: 3px solid #e3e3e4;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg) }
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 800ms;
}

.accordion-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.accordion-content > div {
  overflow: hidden;
}

.accordion-button {
  background: transparent;
  border: 0;
  position: relative;
  margin-left: 20px;
}

.accordion-button::before,
.accordion-button::after {
  position: absolute;
  left: -20px;
  content: "⌃";
  transition: transform 800ms;
}


.accordion-button[aria-expanded="false"]::before,
.accordion-button[aria-expanded="false"]::after {
  transform: rotate(180deg);
}