/* styling for top level elements that appear on all pages */

@import url('/public/styles/reset.css'); /* generics/defaults */
@import url('/public/styles/mpa.css'); /* X-document view transition support */

body {
  display: grid;
  justify-items: center;
  font-family: 'Nunito Sans', system-ui, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  --background-color: #f5f6fa;
  --svg-pan-x: 0px;
  --svg-pan-y: 0px;
  --svg-zoom: 1;
}

button.highlighted {
  outline: 4px solid #9370db;
  outline-offset: -2px;
}

a,
a:link,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:not(.button):visited,
a:not(.button):hover,
a:not(.button):focus-visible {
  filter: brightness(115%);
}

#counter {
  position: relative;
}

#counter.htmx-request > span {
  opacity: 0;
}

#content-main {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
  position: relative;
  min-height: 600px;

  --navigation-panel-width: 400px;
  --navigation-panel-translate-x: calc(0.9 * var(--navigation-panel-width));

  --transition-duration: 200ms;
}

#search-panel {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 200;
}

#search-panel > h2 {
  padding-inline: 20px;
  font-weight: 200;
}

#search-panel > input[type='search'] {
  background-color: var(--background-color);
  background-image: url('/public/images/magnifying-glass.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 20px;
  padding-left: 60px;
  width: 50ch;
  margin-right: 20px;
}
#search-panel > select,
input[type='search'] {
  border-color: #e3e3e4;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1em;
  padding-block: 10px;
  padding-inline: 2px;
}

#search-panel > select {
  margin-inline: 10px;
  font-weight: 200;
}

label[for='diagramType'] {
  white-space: nowrap;
}

#mermaid-wrapper {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* hide the overflow to prevent the svg even momentarily extending beyond the viewport */
  overflow: hidden;
  background-color: var(--background-color, initial);
}

#mermaid-wrapper.edit {
  background-color: #d0d1da;

  &::before,
  &::after {
    border: 5px solid #00b79b;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

#content-main:has(#navigation-panel[aria-expanded]) #mermaid-wrapper.edit::after {
  transform: translateX(calc(-1 * var(--navigation-panel-width)));
  transition: transform var(--transition-duration);
}

#content-main:has(#navigation-panel:not([aria-expanded])) #mermaid-wrapper.edit::after {
  transform: translateX(calc(var(--navigation-panel-translate-x) - var(--navigation-panel-width)));
  transition: transform var(--transition-duration);
}

#mermaid-output {
  display: block;
  transition: opacity var(--transition-duration);
  opacity: 1;
}

#mermaid-output[pending-listeners] {
  opacity: 0;
}

#navigation-panel {
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #e8e8e8;
  border-bottom: 0;
  width: var(--navigation-panel-width);
  height: 100%;
  transition: transform var(--transition-duration);
}

#navigation-panel-content {
  height: 100%;
  overflow-y: auto;
  opacity: 1;
  transition: opacity var(--transition-duration);
}

#navigation-panel:not([aria-expanded]) {
  transform: translateX(var(--navigation-panel-translate-x));
}

#navigation-panel:not([aria-expanded]) #navigation-panel-button {
  transform: scaleX(-1);
}

#navigation-panel:not([aria-expanded]) #navigation-panel-content {
  opacity: 0;
}

#navigation-panel[aria-expanded] ~ #svg-controls,
#navigation-panel[aria-expanded] ~ #edit-controls {
  transform: translateX(calc(-1 * var(--navigation-panel-translate-x)));
}

#navigation-panel-button {
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 2rem;
  left: -1rem;
  z-index: 1;
}

#navigation-panel-button::before {
  content: '❯';
  color: #a6a6a6;
}

#navigation-panel h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

#navigation-panel section {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  word-wrap: break-word;
}

#navigation-panel section:last-child {
  border-bottom: none;
}

#navigation-panel p {
  font-size: 0.9rem;
  margin: 0;
}

#navigation-panel pre {
  white-space: pre-wrap;
  background: white;
  font-size: 0.6rem;
}

#navigation-panel.edit section h3::after {
  content: url('../images/pencil.svg');
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

#svg-controls {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 50px;
  transform: translateX(0);
  transition: transform var(--transition-duration);
}

#zoom-buttons {
  display: grid;
  gap: 5px;
  align-content: start;
}

#zoom-buttons button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 0.7rem;
}

.spinner.htmx-request {
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

.spinner {
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid #e3e3e4;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#legend {
  position: absolute;
  left: 0;
  top: calc(100% - 21rem);
}

#legend-content {
  position: absolute;
  transform: translateX(-100%);
  display: grid;
  z-index: -1;
  padding: 3rem 1rem 1rem 1rem;
  gap: 1.5rem;
  grid-template-columns: auto max-content;
  background: white;
  transition:
    transform 300ms,
    z-index 0ms 300ms;
}

#legend-content.show-content {
  z-index: 0;
  transform: translateX(0);
  transition-delay: 0ms;
  border: 1px solid #e8e8e8;
}

#legend p {
  font-size: 0.9rem;
  margin: 0;
}

#legend button {
  position: absolute;
  top: 0;
  font-size: 1rem;
  font-weight: 700;
  width: 7rem;
  padding: 0.6rem 1.5rem 0.6rem 2.5rem;
  text-align: left;
  background: white;
  border: 1px solid #e8e8e8;

  &:hover {
    cursor: pointer;
  }
}

#legend button.show-content {
  border: none;
  border-top: 1px solid #e8e8e8;
}

#legend button::before {
  position: absolute;
  left: 1rem;
  content: '❯';
  color: #a6a6a6;
  transform: scaleX(1);
}

#legend button.show-content::before,
#legend button.show-content::after {
  transform: scaleX(-1);
}

.legend-item {
  display: contents;
}

.legend-icon {
  width: 65px;
  height: 32px;
  border: 2px solid black;
  align-self: center;
  background-color: white;
  position: relative;
}

.legend-icon.active {
  background-color: #faf290;
}

.legend-icon.search {
  border-style: dashed;
}

.legend-icon.expanded::after {
  content: '-';
  position: absolute;
  top: -5px;
  right: 2px;
}

.legend-icon.unexpanded::after {
  content: '+';
  position: absolute;
  top: -5px;
  right: 2px;
}

#toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#zip {
  display: none;
}

#open-button {
  display: flex;
  border-color: #e3e3e4;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--background-color);
  justify-content: center;
  width: 20ch;
  padding: 10px;
  height: fit-content;
  align-self: center;
}

#open-button:hover {
  background-color: #e9e9ed;
}

#upload-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
  font-size: 0.8rem;
}

#minimap {
  /* minimap width and height in px */
  --minimap-width: 300;
  --minimap-height: 200;

  /* calculate the desired and war aspect ratios based on variables */
  --minimap-raw-svg-aspect-ratio: calc(var(--svg-raw-width) / var(--svg-raw-height));
  --minimap-desired-aspect-ratio: calc(var(--minimap-width) / var(--minimap-height));

  /* calculate a boolean value (1 or 0) which says if the desired aspect ratio is larger than the raw */
  --minimap-ratio-diff: calc(var(--minimap-desired-aspect-ratio) - var(--minimap-raw-svg-aspect-ratio));
  --minimap-ratio-diff-abs: max(var(--minimap-ratio-diff), -1 * var(--minimap-ratio-diff));
  --minimap-ratios-compare: clamp(0, calc(var(--minimap-ratio-diff) / var(--minimap-ratio-diff-abs)), 1);

  /* scale factor between aspect ratios. This will be used to scale the oversized dimension of the raw svg compared to the desired  */
  --minimap-scale-factor: calc(var(--minimap-raw-svg-aspect-ratio) / var(--minimap-desired-aspect-ratio));

  width: calc(var(--minimap-width) * 1px);
  height: calc(var(--minimap-height) * 1px);
  border: 2px solid #646464;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding: 5px;
  align-content: center;
}

#minimap-svg {
  /* based on the ratio comparison scale either the width or the height based on the scale factor. The other is set to 100% */
  width: calc(
    var(--minimap-ratios-compare) * var(--minimap-scale-factor) * 100% + (1 - var(--minimap-ratios-compare)) * 100%
  );
  height: calc(
    var(--minimap-ratios-compare) * 100% + ((1 - var(--minimap-ratios-compare)) / var(--minimap-scale-factor)) * 100%
  );

  position: relative;
  margin-inline: auto;
}

#minimap-svg > #mermaid-svg {
  width: 100%;
  height: 100%;
}

#minimap-svg::after {
  content: '';
  position: absolute;
  top: calc(-100% * var(--svg-pan-y) / var(--svg-zoom) / var(--svg-raw-height));
  left: calc(-100% * var(--svg-pan-x) / var(--svg-zoom) / var(--svg-raw-width));
  width: calc(100% * var(--svg-width) / var(--svg-zoom) / var(--svg-raw-width));
  height: calc(100% * var(--svg-height) / var(--svg-zoom) / var(--svg-raw-height));
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

#toast-container {
  --open-close-duration: 200ms;
  --dialog-shift-duration: 300ms;
  --dialog-height: 6lh;

  position: fixed;
  left: 0px;
  top: calc(100lvh - 1lh - var(--dialog-height));
  z-index: 10;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-from-left {
  from {
    translate: -100vw 0;
  }
}
@keyframes slide-in-from-right {
  from {
    translate: 100vw 0;
  }
}
@keyframes slide-out-to-left {
  to {
    translate: -100vw 0;
  }
}
@keyframes slide-out-to-right {
  to {
    translate: 100vw 0;
  }
}

#toast-container dialog {
  display: flex;
  align-items: center;
  bottom: calc(-1lh - var(--dialog-height)); /* anchors bottom of dialog to #toaster-wrapper */
  gap: 3ch;
  width: 45ch;
  padding: 24px;
  height: auto;
  margin-inline: 20px auto;
  margin-block-end: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px black;

  transition:
    display var(--open-close-duration) allow-discrete,
    overlay var(--open-close-duration) allow-discrete;

  animation: fade-in var(--open-close-duration) forwards;
  &:not([open]) {
    animation: fade-out var(--open-close-duration) forwards;
  }
}

#toast-container dialog + .toast-wrapper {
  transition: transform var(--dialog-shift-duration) var(--open-close-duration);
}

#toast-container dialog[open] + .toast-wrapper {
  transform: translateY(calc(-1lh - var(--dialog-height)));
}

/*transitions the toast-wrapper smoothly */
#toast-container dialog:has(details) + .toast-wrapper {
  transition: transform var(--dialog-shift-duration) var(--open-close-duration);
}
/*moves the toast-wrapper up by the same height as the details */
#toast-container dialog:has(details[open]) + .toast-wrapper {
  transform: translateY(calc(-1lh - (calc(var(--dialog-height) * 4))));
}

#toast-container .toast-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 100%;
}

#toast-container img.internal-error {
  filter: hue-rotate(0deg) brightness(2) contrast(2);
}

#toast-container img.data-error {
  filter: hue-rotate(30deg) brightness(2) contrast(2);
}

#toast-container img.temp-error {
  filter: hue-rotate(60deg) brightness(2) contrast(2);
}

#toast-container h1 {
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
}

#toast-container details {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

#toast-container details::details-content {
  block-size: 0;
  transition: 
    block-size var(--dialog-shift-duration) var(--open-close-duration),
    content-visibility var(--dialog-shift-duration) var(--open-close-duration);
  transition-behavior: allow-discrete;
}

#toast-container details[open]::details-content {
  block-size: calc((var(--dialog-height) * 4) - 1lh);
}


#toast-container summary {
  cursor: pointer;
  margin-inline-start: 1rem;
  list-style-position: outside;
}

#toast-container pre {
  background-color: #f2f2f2;
  color: #333;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin-top: 0.5rem;
  font-family: monospace;
  white-space: pre-wrap;
  max-height: calc((var(--dialog-height) * 4) - 1lh);
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0px;
    margin-block: auto;
    width: 100%;
    height: 3px;
    background: black;
    transform-origin: center;
  }

  &::before {
    transform: rotateZ(45deg);
  }

  &::after {
    transform: rotateZ(-45deg);
  }
}

#edit-controls {
  position: absolute;
  top: 120px;
  right: 70px;
  transform: translateX(0);
  transition: transform var(--transition-duration);
  display: grid;
  row-gap: 20px;
  pointer-events: none;
}

#edit-toggle {
  display: flex;
  align-items: center;
  font-weight: 800;
  background-color: #d5d5d5;
  padding: 10px 20px;
  border-radius: 7px;
  width: 140px;
  color: #83898C;
  pointer-events: all;
}
#edit-toggle.edit {
  background-color: #00b79b;
  color: white;
}
#edit-toggle.disabled {
  color: #83888b;
}

#edit-toggle > .switch {
  position: relative;
  display: inline-block;
  margin-left: auto;
  width: 50px;
  height: 15px;
}
#edit-toggle > .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#edit-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  transition: 0.4s;
  border-radius: 25px;
}
#edit-toggle .slider:before {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  bottom: -5px;
  transition: transform var(--transition-duration);
  border-radius: 50%;
  background: #83898C center no-repeat;
  background-size: 60% 60%;
}
#edit-toggle .slider:hover::before {
  filter: brightness(115%);
}
#edit-toggle .slider:before {
  background-image: url('../images/eye.svg');
}

#edit-toggle input[checked] + .slider {
  background-color: #65d4c3;
}
#edit-toggle input[checked] + .slider:before {
  background-image: url('../images/pencil-green.svg');
  background-color: white;
  transform: translateX(25px);
}
#edit-buttons{
  display: none;
}

#edit-buttons.edit{
  display: grid;
  align-items: center;
  background-color: #00b79b;
  border-radius: 7px;
  justify-self: end;
  justify-content: center;
  grid-auto-rows: 1fr 1fr 1fr;
  pointer-events: all;
}

#edit-buttons button {
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: inherit;
}

#edit-buttons button:hover {
  background-color: #009c84;
}
#add-node-button {
  background-image: url('../images/add-node.svg');
}
#edit-node-button {
  background-image: url('../images/edit-node.svg');
}
#delete-node-button {
  background-image: url('../images/delete-node.svg');
}

.nav-panel-editable {
  width: 100%; 
  background-color: #F5F6FA;
  border: none;
  font-family: inherit;
  font-size: inherit;
  resize:none;
  height: 1.8em;
}

textarea.multiline {
  height: 10rem;
  resize:vertical;

}