/* styling for top level elements that appear on all pages */

@import url('/public/styles/reset.css'); /* generics/defaults */

body {
  display: grid;
  justify-items: center;
  font-family: 'Nunito Sans', system-ui, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

button.highlighted {
  outline: 4px solid #9370db;
  outline-offset: -2px;
}

#counter {
  position: relative;
}

#counter.htmx-request > span {
  opacity: 0;
}

.spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

#content-main {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;

  --navigation-panel-width: 400px;
  --navigation-panel-translate-x: calc(0.9* var(--navigation-panel-width));
}

#search-panel {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 200;
}

#search-panel > h2 {
  padding-inline: 20px;
  font-weight: 200;
}

#search-panel > input[type='search'] {
  background-color: #f5f6fa;
  background-image: url('/public/images/magnifying-glass.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 20px;
  padding-left: 60px;
  width: 50ch;
  margin-right: 20px;
}
#search-panel > select,
input[type='search'] {
  border-color: #e3e3e4;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1em;
  padding-block: 10px;
  padding-inline: 2px;
}

#search-panel > select {
  margin-inline: 10px;
  font-weight: 200;
}

label[for="diagramType"] {
  white-space: nowrap;
}

#mermaid-wrapper {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* hide the overflow to prevent the svg even momentarily extending beyond the viewport */
  overflow: hidden;
}

#mermaid-output {
  display: block;
  transition: opacity 200ms;
  opacity: 1;
}

#mermaid-output[pending-listeners] {
  opacity: 0;
}

#navigation-panel {
  position: absolute;
  right: 0;
  background-color: #f5f6fa;
  border: 1px solid #e8e8e8;
  border-bottom: 0;
  width: var(--navigation-panel-width);
  height: 100%;
  transition:
    transform 200ms;
}

#navigation-panel-content {
  height: 100%;
  overflow-y: auto;
  opacity: 1;
  transition: opacity 200ms;
}

#navigation-panel:not([aria-expanded]) {
  transform: translateX(var(--navigation-panel-translate-x));
}

#navigation-panel:not([aria-expanded]) #navigation-panel-button {
  transform: scaleX(-1);
}

#navigation-panel:not([aria-expanded]) #navigation-panel-content {
  opacity: 0;
}

#navigation-panel[aria-expanded] ~ #svg-controls {
  transform: translateX(calc(-1 * var(--navigation-panel-translate-x)));
}

#navigation-panel-button {
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 5rem;
  left: -1rem;
  z-index: 1;
}

#navigation-panel-button::before {
  content: '❯';
  color: #a6a6a6;
}

#navigation-panel h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

#navigation-panel section {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  word-wrap: break-word;
}

#navigation-panel section:last-child {
  border-bottom: none;
}

#navigation-panel p {
  font-size: 0.9rem;
  margin: 0;
}

#navigation-panel pre {
  white-space: pre-wrap;
  background: white;
  font-size: 0.6rem;
}

#svg-controls {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 50px;
  transform: translateX(0);
  transition:
    transform 200ms;
}

#zoom-buttons {
  display: grid;
  gap: 5px;
  align-content: start;
}

#zoom-buttons button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 0.7rem;
}

#spinner.htmx-request {
  display: inline-block;
  opacity: 1;
}

#spinner {
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid #e3e3e4;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#legend {
  position: absolute;
  left: 0;
  top: calc(100% - 21rem);
}

#legend-content {
  position: absolute;
  transform: translateX(-100%);
  display: grid;
  z-index: -1;
  padding: 3rem 1rem 1rem 1rem;
  gap: 1.5rem;
  grid-template-columns: auto max-content;
  background: #f5f6fa;
  transition:
    transform 300ms,
    z-index 0ms 300ms;
}

#legend-content.show-content {
  z-index: 0;
  transform: translateX(0);
  transition-delay: 0ms;
  border: 1px solid #e8e8e8;
}

#legend p {
  font-size: 0.9rem;
  margin: 0;
}

#legend button {
  position: absolute;
  top: 0;
  font-size: 1rem;
  font-weight: 700;
  width: 7rem;
  padding: 0.6rem 1.5rem 0.6rem 2.5rem;
  text-align: left;
  background: #f5f6fa;
  border: 1px solid #e8e8e8;

  &:hover {
    cursor: pointer;
  }
}

#legend button.show-content {
  border: none;
  border-top: 1px solid #e8e8e8;
}

#legend button::before {
  position: absolute;
  left: 1rem;
  content: '❯';
  color: #a6a6a6;
  transform: scaleX(1);
}

#legend button.show-content::before,
#legend button.show-content::after {
  transform: scaleX(-1);
}

.legend-item {
  display: contents;
}

.legend-icon {
  width: 65px;
  height: 32px;
  border: 2px solid black;
  align-self: center;
  background-color: white;
  position: relative;
}

.legend-icon.active {
  background-color: #faf290;
}

.legend-icon.search {
  border-style: dashed;
}

.legend-icon.expanded::after {
  content: '-';
  position: absolute;
  top: -5px;
  right: 2px;
}

.legend-icon.unexpanded::after {
  content: '+';
  position: absolute;
  top: -5px;
  right: 2px;
}

#toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#upload-form {
  width: 20ch;
  padding: 10px;
}

#upload {
  display: none;
}

#upload-button {
  display: flex;
  border-color: #e3e3e4;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
  background-color: #f5f6fa;
  justify-content: center;
}

#upload-button:hover {
  background-color: #e9e9ed;
}

#upload-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
  font-size: 0.8rem;
}

#minimap {
  width: 300px;
  height: 200px;
  border: 2px solid #646464;
  background-color: white;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
}

#minimap-svg {
  width: var(--minimap-svg-width);
  height: var(--minimap-svg-height);
  position: relative;
}

#minimap-svg > #mermaid-svg {
  width: 100%;
  height: 100%;
}

#minimap-svg::after {
  content: '';
  position: absolute;
  top: var(--minimap-lens-top);
  left: var(--minimap-lens-left);
  width: var(--minimap-lens-width);
  height: var(--minimap-lens-height);
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}