/* Flowchart diagramType in mermaid use rect where as ClassDiagram uses path */
#mermaid-svg g.node path {
  fill: #ffffff !important;
  stroke: #000000 !important;
  stroke-width:unset !important;
}
#mermaid-svg g.node rect {
  transition: outline 10.1s ease-in-out;
  stroke: none !important;
  fill: #ffffff !important;
}

#mermaid-svg g.node.highlighted path,
#mermaid-svg g.node.highlighted rect {
  fill: #fbf291 !important;
}

g.node path,
g.node.search path {
  stroke-dasharray: 5,5;
}
g.node rect,
g.node.search rect {
  outline: 2px dashed #000000;
}

g.node.unexpanded path, 
g.node.expanded path{
  stroke:#000000;
  stroke-dasharray: none;
  stroke-width: 3px;
}
g.node.unexpanded rect,
g.node.expanded rect {
  outline: 3px solid #000000;
}

.corner-sign {
  text-anchor: end;
  font-size: 1.7rem;
}

text.corner-sign:hover {
  transition: 0.25s;
  fill: red;
}
text.corner-sign::after {
  transform: translate();
  fill: red;
}
