#main-view {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-inline: 100px;

    background-color: #f5f6fa;
    view-transition-name: main;
  }
#main-view > h1 {
    padding-block: 10px;
}
#upload-toolbar * h2 {
  padding-inline: 20px;
  font-weight: 200;
  font-size: 1.8em;
}
#upload-toolbar > a {
  display: inline-block;
}
#upload-method {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
#upload-file-button {
    display: inline-block;
    background-color: #397edd;
    transition: background-color 0.3s;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}
#upload-file-button:hover {
  background-color: #0256cb;
  transition: background-color 0.3s;
}

@keyframes rotate{
  0% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(0deg)
  }
}
::view-transition-old(toggle-up) {
  display: none;
}
::view-transition-new(toggle-up) {
  animation: rotate 0.5s forwards;
}
::view-transition-old(toggle-down) {
  display: none;
}
::view-transition-new(toggle-down) {
  animation: rotate 0.5s forwards;
}

.toggle-icon {
  margin-left: 10px;
  vertical-align:middle;
  display: inline-block;
  font-weight: bolder;
  transform: scaleX(1.7);
  view-transition-name: toggle-up;
}

/* When .show-content is applied after load, animate the rotation */
.toggle-icon.show-content {
  transform: rotate(180deg)scaleX(1.7);
  view-transition-name: toggle-down;
}

@keyframes open-menu {
  100% {height:auto}
  0% {height:0}
}

#upload-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; 
  overflow: hidden;
  width: 100%;
  max-height: fit-content;
  height: 0;
  position:absolute;
  top:100%
}

#upload-options.show-content {
  animation: open-menu 1s forwards;
}
.upload-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  color: black;
  padding-block: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
}
.upload-option a:hover,
.upload-option:hover {
  background-color: #f0f0f0;
}

.upload-option img {
  float: left;
  width: 20px;
  height: 20px;
  margin-inline: 20px;
}
.upload-option p {
  margin: 0px;
  width: 100%;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-block: 10px;
  gap:20px;
}

.file-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.file-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.file-preview {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.file-preview svg {
  max-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.file-details {
  padding: 16px;
  text-align: center;
}

.file-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
  color: #333;
}

.file-viewed {
  font-size: 0.9rem;
  color: #888;
  margin: 8px 0 0 0;
}

#spinner-wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
}