#main-view {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-inline: 100px;

  background-color: #f5f6fa;
  view-transition-name: main;
}
#main-view > h1 {
  padding-block: 10px;
}

#upload-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4ch;
}

#upload-toolbar * h2 {
  padding-inline: 20px;
  font-weight: 200;
  font-size: 1.8em;
}
#upload-toolbar > a {
  display: inline-block;
}
#upload-method {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  --highlight-color: var(--active-button-color);
  --transition-time: 0.4s;
  --border-radius: 5px;
}
#upload-method:has(#upload-ontology-button:hover) {
  --highlight-color: hsl(from var(--active-button-color) h s 40%);
}

#upload-ontology-button {
  display: grid;

  width: 12rem;
  background-color: var(--highlight-color);
  transition:
    background-color 0.3s,
    border-radius var(--transition-time) ease-in-out;
  color: white;
  border-radius: var(--border-radius);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
#upload-ontology-button > .upload-icon {
  justify-self: center;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;

  &::before,
  &:after {
    content: '';
    position: absolute;
    background-color: white;
    margin: auto;
    inset: 0;
  }

  &::before {
    width: 100%;
    height: 11%;
  }
  &::after {
    height: 100%;
    width: 11%;
  }
}
#upload-method.show-content > #upload-ontology-button {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

#upload-method .toggle-icon {
  vertical-align: middle;
  display: inline-block;
  font-weight: bolder;
  transform: scaleX(1.7) scaleY(1);
  transition: transform var(--transition-time) ease-in-out;
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

/* When .show-content is applied after load, animate the rotation */
#upload-method.show-content .toggle-icon {
  transform: scaleX(1.7) scaleY(-1);
}

#upload-options-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows var(--transition-time) ease-in-out,
    border 0s ease-in-out var(--transition-time);
  width: 100%;
  top: 100%;
  padding-top: var(--border-radius);
  transform: translateY(calc(-1 * var(--border-radius)));
  position: absolute;

  border: 0px solid var(--highlight-color);
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

#upload-method.show-content #upload-options-wrapper {
  grid-template-rows: 1fr;
  transition: grid-template-rows var(--transition-time) ease-in-out;
  border: 1px solid var(--highlight-color);
  border-top: none;
}

#upload-options {
  width: 100%;
  overflow: hidden;
}
#upload-options,
#upload-options > *:last-child {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.upload-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  color: black;
  padding-block: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
}
.upload-option a:hover,
.upload-option:hover {
  background-color: #f0f0f0;
}

.upload-option img {
  float: left;
  width: 20px;
  height: 20px;
  margin-inline: 20px;
}
.upload-option p {
  margin: 0px;
  width: 100%;
}

#recent-files {
  margin-top: 6rem;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-block: 10px;
  gap: 20px;
  width: 100%;
}

.file-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.file-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.file-preview {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.file-preview svg {
  max-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.file-details {
  padding: 16px;
  text-align: center;
}

.file-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  direction: rtl;
}

.file-viewed {
  font-size: 0.9rem;
  color: #888;
  margin: 8px 0 0 0;
}

#spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}
