name: Scheduled analysis
on:
  schedule:
    - cron: '0 07 * * *' # Sets Semgrep to scan every day at 07:00 UTC
permissions:
  security-events: write
jobs:
  semgrep:
    uses: digicatapult/shared-workflows/.github/workflows/scan-vulns.yml@main
    with:
      enable_semgrep_action: true
      extra_args: '--config="p/default"'
      sarif_path: semgrep.sarif
